* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active; {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

.new-class {
	background: #fff;
}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button:-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: 400;}

.menu{
background: green disabled;
height: 100px;
width: 100%;
color: #000;
margin: 0;
}

.menu__branch, .menu__furniture, .menu__services,
.menu__installation, .menu__button-office {
display: inline-block;
margin: 15px 25px;
}

.menu__branch p {
font-family: Bernard MT;
font-weight: 600;
margin: 15px;
font-size: 50px;
}

.menu__furniture p {
margin: 15px;
font-size: 30px;
color #fff;
}

.menu__services p {
margin: 15px;
font-size: 30px;
}

.menu__installation p {
	margin: 15px;
font-size: 30px;
}
.menu__button-office {
 margin: 25px;
  }

.menu__button-office a {
 display: block
padding: 25px 25px;
font-size: 32px;
background: #442;
border-radius: 15px;
color: white;
}


.main-window {
width: 80%;
margin: 0 auto;
}

.main-window__img {
width: 91%;
height: 600px;
background-image: url(kabinet2.jpg);
padding: 30px 50px;

}

.main-window .main-window__img h3,
.main-window .main-window__img h2 {
text-transform: uppercase;
color: #000;
font-weight: 600;
}

.main-window .main-window__img h3 {
font-size: 45px;
margin: 120px 0 0 0;
}

.main-window .main-window__img h2 {
font-size: 45px;
margin: 0 0 0 0;
}

.main-window .main-window__img ul li{
list-style-type: none;
font-size: 25px;
font-weight: 600;
}

li:before {
content: "\2714"
}

.main-window .main-window__img ul li:nth-child(1) {
margin-left: 0;
}
.main-window .main-window__img ul li:nth-child(2) {
margin-left: 0;
}
.main-window .main-window__img ul li:nth-child(3) {
margin-left: 0;
}